html {
	 background-color: #FCFBFC;
	 height: 100%;
}
a:visited {
	text-decoration: none;
	color: #0066CC;
}
a:hover {
	color: green;
	background: radial-gradient(circle, #cffcae, #FCFBFC);
}
a {
	text-decoration: none;
}
.writing {
	font-size: 20px;
}
.site {
	margin-left: auto;
	margin-right: auto;
	width: 750px;
}
small#host {
	font-family: sans-serif;
	font-size: 13px;
	display: block;
	text-align: right;
	padding-top: 30px;
}	
.headmargin {
	margin-left: 300px;
	height: -50px;
}
	/* Anything not included in footer  ¯\_(ツ)_/¯ */
#wrapper {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 100%;
	height: 100%;
}
img#TGL {
	height: 60px;
	vertical-align: top;
}
body {
	padding-top: 22px;
	height: inherit;
}
.homebar {
	position: absolute;
	height: 60px;
	top: 0px;
	left: 0px;
	width: 100%;
	font-size: 40px;
	line-height: 60px;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
}
#sign {
	float: right;
	height: 60px;
}
#toplinks{
	position: inherit;
	right: 600px;
	top: 0px;
	font-size: 20px;
}

	/* Small footer */
div.inner {
	border-top: 1px solid #ddd;
	background: #f5f5f5;
	position: absolute;
	height: 99px;
	width: inherit;
	bottom: 0px;
}
.left {
	float: left;
	margin-left: 25%;
}
.right {
	float: right;
	list-style-type: none;
	margin-top: 30px;
	margin-right: 600px;
}
.sans {
	font-family: sans-serif;
	margin-top: 30px;
	font-size: 13px;
	color: #666;
}
ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	
}
li {display: inline; text-decoration: none;}