a:hover {
	color:green;
	background: #ccffd3;
}
.writing {
	font-size: 20px;
}
.site {
	margin-left: auto;
	margin-right: auto;
	width: 750px;
}
#header {
	font-size: 40px;
	text-align: center;
	color:#000;
}
small#host {
	font-family: sans-serif;
	font-size: 13px;
	display: block;
	text-align: right;
	padding-top: 30px;
}	
	/* Anything not included in footer  ¯\_(ツ)_/¯ */
.homebar {
	border-bottom: 1px solid #bdbdbd;
	background: linear-gradient(#fafafa, #d6d6d6);
	position: absolute;
	height: 80px;
	top: 0px;
	left: 0px;
	width: 100%;
}

	/* Small footer */
footer.inner {
	border-top: 1px solid #ddd;
	background: #f5f5f5;
	position: absolute;
	height: 99px;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
.left {
	float: left;
	margin-left: 500px;
}
.right {
	float: right;
	margin-right: 700px;
	list-style-type: none;
	padding-right: 30px;
	padding-left: 30px;
}
.sans {
	font-family: sans-serif;
	margin-top: 30px;
	font-size: 13px;
	color: #666;
}
#links ul{
	list-style: none;
}
#links li {
	display: inline;
}